@model MaterialPagoViewModel

<style>
    h2 {
        margin-top: 40px;
    }

    
</style>


<<<<<<< HEAD
<h2>Materiais Preferidos</h2>
<br />
<h4>
    Não encontrou o que procura ou não pode receber doações? Não se preocupe! 
    Confira os nossos materiais mais vendidos!
=======
<h2>Materiais Pagos</h2>
<br />
<h4>
    Não encontrou o que procura ou não pode receber doações? Não se preocupe! 
    Também vendemos materais por um execelente preço! Confira!
>>>>>>> b054671ff6a36f8cfcd48f492cd06d86abcdc80e
</h4>

<div class="row">
    @foreach (var material in Model.MateriaisPagos)
    {
        <partial name="_MateriaisResumo" for="@material" />
    }
</div>