<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o site</title>

    <style>
        h2{
            margin-top: 20px;
            font-family: Arial;
            
        }

        p{
            font-family: Arial;
            font-size: 20px;
        }

        img{

            height: 250px;
        }
    </style>
</head>
<body>
    <h2> <img src="~/images/DonationLogo.png" /> <br />Sobre a Plataforma</h2>
    <br />
    <br />
    <p>
        Donation Academy é um software de ambiente acadêmico cujo o objetivo é ajudar os
        estudantes necessitados através das doações de materiais escolares.<br />
        <br />
        A aplicação web conta com uma área de doação onde os usuários poderão contribuir
        com um material, como um livro, um caderno, um estojo e entre outros.
        No entanto, essa área ficará restrita para alguns usuários para grantirmos que
        a página de doações seja destinada a aqueles que realmente precisam.<br />
        <br />
        Sendo assim, para saber se você está apto para receber doações, é necessário
        preencher o formulário abaixo:<br />

        <br />

        <a href="https://forms.gle/NTFx7wqkS3vQkwDM6" target="_blank" style="color:white">Link do formulário aqui</a><br />

        <br />

        Você deve responder algumas perguntas e após o término do preenchimento,
        suas respostas serão analisadas pela nossa equipe e a partir disso,
        decidiremos se você deve ou não receber as doações.
    </p>
        
    <br />
    <br />

    <h2> O que fazer se eu não posso rececer doações?</h2>
    <br />
    <br />
    <p> 
        Caso você não esteja apto para receber doações, não se preocupe.
        O site também conta com uma área de vendas
        onde os materiais são vendidos por um 
        excelente preço, e é claro, queremos
        garantir que o usuário tenha
        ótimas experiências realizando 
        compras no site.
    </p>

    <p>
        Sendo assim, se você tem interesse em receber
        doações e/ou ajudar os outros através
        das contribuições, você será
        muito bem-vindo.
    </p>
    <br />
    
    <p> Veja um vídeo de como o site funciona abaixo: </p>

    <div>
        <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7061742725431238656?compact=1" height="399" width="710" frameborder="1" allowfullscreen="" title="Publicação incorporada"></iframe>
    </div>

    <p>Cadastre-se no nosso site e vamos praticar a solidariedade! :)</p>
</body>
</html>