<style>
    .container {
        margin-top: 40px;
    }
</style>


<div class="container">

    <div class="jumbotron">

        <h2> 
            <img src="~/images/crownfounding.png" /> 
            <br />
            Gostou do projeto?
        </h2>
        <br />
        <br />
        <h5>
           Contribua financeiramente para melhorarmos ainda mais a estrutura do nosso site
           e continuar ajudando os estudandes através das doações!
            <br />
            <br />    
            <a href="https://www.vakinha.com.br/3722938" target="_blank" style="color:white">link do site de vakinha aqui</a>
        </h5>
    </div>


</div>