<style>
    .container {
        margin-top: 40px;
    }
</style>

<div class="container">

    @*<img src="~/images/whatsapp_logo_icon.png" alt="Fale conosco" />*@

    <div class="jumbotron">

        
        
        <h3> <img src="~/images/technical-support.png" /> Queremos ouvir o que você tem a dizer</h3>
        <br />
        <br />
        <h5>
            Se você também tiver alguma dúvida ou sugestão fale conosco
        </h5>
        <br />
        <p>
            <div>
                <span>
                    <img src="~/images/email.png" />
                </span>
            </div>
            <h5><email endereco="donationacademy@gmail.com" conteudo="donationacademy@gmail.com" style="color:white"></email></h5>
            <br />
            <span>
                <img src="~/images/whatsapp_logo_icon.png" />
            </span>
            <h5><a href="" target="_blank" style="color:white;">(11) 9999-9999</a></h5>
            <br />
            <h5><a href="" target="_blank" style="color:white;"></a></h5>
            <br />
            
        </p>
    </div>

</div>