/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cunvfpsdvb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cunvfpsdvb] {
  color: #0077cc;
}

.btn-primary[b-cunvfpsdvb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cunvfpsdvb], .nav-pills .show > .nav-link[b-cunvfpsdvb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cunvfpsdvb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cunvfpsdvb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cunvfpsdvb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cunvfpsdvb] {
  font-size: 1rem;
  line-height: inherit;
}

footer[b-cunvfpsdvb] {
    position: relative;
    top: 30px;
}

footer[b-cunvfpsdvb] {
    bottom: 0;
    width: 100%;
    line-height: 75px;
    overflow: hidden;
}

    footer .container .copy[b-cunvfpsdvb] {
        color: whitesmoke;
    }

    footer nav .redes-sociais[b-cunvfpsdvb] {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        footer nav .redes-sociais li[b-cunvfpsdvb] {
            /*text-align: center;*/
            margin: 15px 28px;
            display: inline-block;
        }


            footer nav .redes-sociais li a img[b-cunvfpsdvb] {
                width: 40px;
                transition: .2s;
            }


            footer nav .redes-sociais li a:hover img[b-cunvfpsdvb] {
                transform: scale(1.2) translateY(-10px);
            } 
