/* _content/DonationAcademy/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-d9h7vlnsts] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-d9h7vlnsts] {
  color: #0077cc;
}

.btn-primary[b-d9h7vlnsts] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-d9h7vlnsts], .nav-pills .show > .nav-link[b-d9h7vlnsts] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-d9h7vlnsts] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-d9h7vlnsts] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-d9h7vlnsts] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-d9h7vlnsts] {
  font-size: 1rem;
  line-height: inherit;
}

footer[b-d9h7vlnsts] {
    position: relative;
    top: 30px;
}

footer[b-d9h7vlnsts] {
    bottom: 0;
    width: 100%;
    line-height: 75px;
    overflow: hidden;
}

    footer .container .copy[b-d9h7vlnsts] {
        color: whitesmoke;
    }

    footer nav .redes-sociais[b-d9h7vlnsts] {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        footer nav .redes-sociais li[b-d9h7vlnsts] {
            /*text-align: center;*/
            margin: 15px 28px;
            display: inline-block;
        }


            footer nav .redes-sociais li a img[b-d9h7vlnsts] {
                width: 40px;
                transition: .2s;
            }


            footer nav .redes-sociais li a:hover img[b-d9h7vlnsts] {
                transform: scale(1.2) translateY(-10px);
            } 
/* _content/DonationAcademy/Areas/Doador/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nd35xfrvbq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nd35xfrvbq] {
  color: #0077cc;
}

.btn-primary[b-nd35xfrvbq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nd35xfrvbq], .nav-pills .show > .nav-link[b-nd35xfrvbq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nd35xfrvbq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nd35xfrvbq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nd35xfrvbq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nd35xfrvbq] {
  font-size: 1rem;
  line-height: inherit;
}

footer[b-nd35xfrvbq] {
    position: relative;
    top: 30px;
}

footer[b-nd35xfrvbq] {
    bottom: 0;
    width: 100%;
    line-height: 75px;
    overflow: hidden;
}

    footer .container .copy[b-nd35xfrvbq] {
        color: whitesmoke;
    }

    footer nav .redes-sociais[b-nd35xfrvbq] {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        footer nav .redes-sociais li[b-nd35xfrvbq] {
            /*text-align: center;*/
            margin: 15px 28px;
            display: inline-block;
        }


            footer nav .redes-sociais li a img[b-nd35xfrvbq] {
                width: 40px;
                transition: .2s;
            }


            footer nav .redes-sociais li a:hover img[b-nd35xfrvbq] {
                transform: scale(1.2) translateY(-10px);
            } 
/* _content/DonationAcademy/Areas/PostAdmin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cunvfpsdvb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cunvfpsdvb] {
  color: #0077cc;
}

.btn-primary[b-cunvfpsdvb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cunvfpsdvb], .nav-pills .show > .nav-link[b-cunvfpsdvb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cunvfpsdvb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cunvfpsdvb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cunvfpsdvb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cunvfpsdvb] {
  font-size: 1rem;
  line-height: inherit;
}

footer[b-cunvfpsdvb] {
    position: relative;
    top: 30px;
}

footer[b-cunvfpsdvb] {
    bottom: 0;
    width: 100%;
    line-height: 75px;
    overflow: hidden;
}

    footer .container .copy[b-cunvfpsdvb] {
        color: whitesmoke;
    }

    footer nav .redes-sociais[b-cunvfpsdvb] {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        footer nav .redes-sociais li[b-cunvfpsdvb] {
            /*text-align: center;*/
            margin: 15px 28px;
            display: inline-block;
        }


            footer nav .redes-sociais li a img[b-cunvfpsdvb] {
                width: 40px;
                transition: .2s;
            }


            footer nav .redes-sociais li a:hover img[b-cunvfpsdvb] {
                transform: scale(1.2) translateY(-10px);
            } 
/* _content/DonationAcademy/Areas/Post/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4vhxaw7f05] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4vhxaw7f05] {
  color: #0077cc;
}

.btn-primary[b-4vhxaw7f05] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4vhxaw7f05], .nav-pills .show > .nav-link[b-4vhxaw7f05] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4vhxaw7f05] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4vhxaw7f05] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4vhxaw7f05] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4vhxaw7f05] {
  font-size: 1rem;
  line-height: inherit;
}

footer[b-4vhxaw7f05] {
    position: relative;
    top: 30px;
}

footer[b-4vhxaw7f05] {
    bottom: 0;
    width: 100%;
    line-height: 75px;
    overflow: hidden;
}

    footer .container .copy[b-4vhxaw7f05] {
        color: whitesmoke;
    }

    footer nav .redes-sociais[b-4vhxaw7f05] {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        footer nav .redes-sociais li[b-4vhxaw7f05] {
            /*text-align: center;*/
            margin: 15px 28px;
            display: inline-block;
        }


            footer nav .redes-sociais li a img[b-4vhxaw7f05] {
                width: 40px;
                transition: .2s;
            }


            footer nav .redes-sociais li a:hover img[b-4vhxaw7f05] {
                transform: scale(1.2) translateY(-10px);
            } 
/* _content/DonationAcademy/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-dcf9lbznfe] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-dcf9lbznfe] {
    color: #0077cc;
}

.btn-primary[b-dcf9lbznfe] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dcf9lbznfe], .nav-pills .show > .nav-link[b-dcf9lbznfe] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-dcf9lbznfe] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-dcf9lbznfe] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dcf9lbznfe] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dcf9lbznfe] {
    font-size: 1rem;
    line-height: inherit;
}

footer[b-dcf9lbznfe] {
    position: relative;
    top: 30px;
}

footer[b-dcf9lbznfe] {
    bottom: 0;
    width: 100%;
    line-height: 75px;
    overflow: hidden;
}

 footer .container .copy[b-dcf9lbznfe] {
        color: whitesmoke;
    }

 footer nav .redes-sociais[b-dcf9lbznfe] {
        margin: 0;
        padding: 0;
        text-align: center;
 }

footer nav .redes-sociais li[b-dcf9lbznfe] {
  /*text-align: center;*/
  margin: 15px 28px;
  display: inline-block;
}


footer nav .redes-sociais li a img[b-dcf9lbznfe] {
  width: 40px;
  transition: .2s;
}


footer nav .redes-sociais li a:hover img[b-dcf9lbznfe] {
  transform: scale(1.2) translateY(-10px);
}
