@model MaterialListViewModel

@{
    ViewData["Title"] = "Materiais";
}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .img-fluid{

            height: 170px;
        }
    </style>
  </head>

  <body>
    
      <div>
          <h2>@Model.CategoriaAtual</h2>
      </div>

      <div class="row">

        @foreach (var material in Model.Materiais)
        {
            <partial name="_MateriaisResumo" for="@material" />
        }

      </div>
    
</body>
</html>